{% extends 'gopal/baseTemplate.html' %}
{% block title %}
    Price estimating
{% endblock %}

{% block body %}
<div class="jumbotron mt-5">
    <h1 class="text-center pb-5 display-4"><b><strong>Estimate price</strong></b><b>!!</b></h1>
    <p class="lead">Here you can estimate your favorite hypothetical house price!!<br></p>
    <div id="alerts-container">
        {% if predicted_price %}
            <div class="alert alert-success text-center lead" role="alert">Predicted price is <b>{{ predicted_price }} $</b></div>
        {% endif %}
    </div>

    <hr class="my-4">
    <form method="post" action="#">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="size">Size(by square foot)</label>
                <input name="size" type="number" class="form-control" id="size" placeholder="Enter size" value="{{ size }}">
            </div>
            <div class="form-group col-md-2">
                <label for="bed-rooms">Bed rooms count</label>
                <input name="bedrooms" type="number" class="form-control" id="bed-rooms" placeholder="Enter count" value="{{ bedrooms }}" >
            </div>
            <div class="form-group col-md-2">
                <label  for="bath-rooms">Bath rooms count</label>
                <input name="baths" type="number" class="form-control" id="bath-rooms" placeholder="Enter count" value="{{ baths }}">
            </div>
        </div>
        <div class="form-row mt-4">
            <div class="form-group col-md-3">
                <label for="state">State</label>
                <select name='state' id="state" class="form-control" value="{{ state }}">
                    {% for state in states %}
                        <option>{{ state }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="city">City</label>
                <select name='city' id="city" class="form-control" value="{{ city }}">
                    {% for city in cities %}
                        <option>{{ city }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="type">House type</label>
                <select name='type' id="type" class="form-control" value="{{ type }}">
                    {% for type in types %}
                        <option>{{ type }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="ownership">Ownership</label>
                <select name='ownership' id="ownership" class="form-control" value="ownership">
                    {% for item in ownerships %}
                        <option>{{ item }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <button type="button" onclick="validateAndSubmit()"  class="btn btn-success mt-4">Calculate</button>
    </form>

</div>
{% endblock %}

{% block more-js %}
    <script>
        function validateAndSubmit() {
            console.log("Itarim daii!")
            $('#alerts-container').empty()
            alertContainer = document.getElementById("alerts-container")
            size = document.getElementById('size')
            bedRooms = document.getElementById('bed-rooms')
            bathRooms = document.getElementById('bath-rooms')
            if (size.value =="") {
                alertContainer.innerHTML = alertContainer.innerHTML+
                    "<div class='alert alert-danger' role='alert'>\"Size\" field can not be empty!</div>"
                return
            }
            if (bedRooms.value == "") {
                alertContainer.innerHTML = alertContainer.innerHTML+
                    "<div class='alert alert-danger' role='alert'>\"Bed rooms count\" field can not be empty!</div>"
                return
            }
            if (bathRooms.value == "") {
                alertContainer.innerHTML = alertContainer.innerHTML+
                    "<div class='alert alert-danger' role='alert'>\"Bath rooms count\" field can not be empty!</div>"
                return
            }
            document.getElementsByTagName('form')[0].submit()
        }
    </script>
{% endblock %}