{% extends 'gopal/baseTemplate.html' %}
{% block title %}
    Price estimating
{% endblock %}

{% block body %}
<div class="jumbotron mt-5">
    <h1 class="text-center pb-5 display-4"><b><strong>Estimate price</strong></b><b>!!</b></h1>
    <p class="lead">Here you can estimate your favorite hypothetical house price!!<br></p>
    <div id="alerts-container">
    <div class="alert alert-primary" role="alert">
        Fill the following form by your favorite house features.
    </div>
    <div class="alert alert-danger" role="alert">
        Wrong input. Size field must be positive integer number.
    </div>
    <div class="alert alert-success" role="alert">
        The estimated value is : 1800000$
    </div>
    </div>

    <hr class="my-4">
    <form method="post">
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="size">Size(by square foot)</label>
                <input type="number" class="form-control" id="size" placeholder="Enter size">
            </div>
            <div class="form-group col-md-2">
                <label for="bed-rooms">Bed rooms count</label>
                <input type="number" class="form-control" id="bed-rooms" placeholder="Enter count" >
            </div>
            <div class="form-group col-md-2">
                <label for="bath-rooms">Bath rooms count</label>
                <input type="number" class="form-control" id="bath-rooms" placeholder="Enter count">
            </div>
        </div>
        <div class="form-row mt-4">
            <div class="form-group col-md-3">
                <label for="state">State</label>
                <select id="state" class="form-control">
                    <option selected>Choose...</option>
                    <option>...</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="city">City</label>
                <select id="city" class="form-control">
                    <option selected>Choose...</option>
                    <option>...</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="type">House type</label>
                <select id="type" class="form-control">
                    <option selected>Choose...</option>
                    <option>...</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="ownership">Ownership</label>
                <select id="ownership" class="form-control">
                    <option selected>Choose...</option>
                    <option>...</option>
                </select>
            </div>
        </div>
        <button type="button" onclick="validateAndSubmit()" class="btn btn-success mt-4">Calculate</button>
    </form>

</div>
{% endblock %}

{% block more-js %}
    <script>
        function validateAndSubmit() {
            $('#alerts-container').empty()
            alertContainer = document.getElementById("alerts-container")
            size = document.getElementById('size')
            bedRooms = document.getElementById('bed-rooms')
            bathRooms = document.getElementById('bath-rooms')
            if (size.value =="") {
                alertContainer.innerHTML = alertContainer.innerHTML+
                    "<div class='alert alert-danger' role='alert'>\"Size\" field can not be empty!</div>"
                return
            }
            if (bedRooms.value == "") {
                alertContainer.innerHTML = alertContainer.innerHTML+
                    "<div class='alert alert-danger' role='alert'>\"Bed rooms count\" field can not be empty!</div>"
                return
            }
            if (bathRooms.value == "") {
                alertContainer.innerHTML = alertContainer.innerHTML+
                    "<div class='alert alert-danger' role='alert'>\"Bath rooms count\" field can not be empty!</div>"
                return
            }
            document.getElementsByTagName('form')[0].submit()
        }
    </script>
{% endblock %}