{% extends 'gopal/baseTemplate.html' %}
{% load static %}
{% block title %}
    Houses
{% endblock %}



{% block body %}
    <form id="filter-form-container" class="form-inline" method="get" >
        <button type="submit" class="btn btn-primary mb-2">Reload</button>
    </form>
    <div class="d-flex flex-wrap">
    {% for house in houses %}
        <a href="{% url 'gopal:house_view' house_id=house.id%}" class="card-link">
        <div class="card list-card">
        <div class="house-image" style="background-image:url('{% if house.img_src %}{{ house.img_src }}{% else %}{% static "gopal/image/house.png"  %}{% endif%}');"></div>

            <div class="card-body">
                <h5 class="card-title">{{ house.price }}$</h5>
                <p class="card-text">{{house.title}}</p>
            </div>

            <ul class="list-group list-group-flush p-4" >
                <li class="list-group-item">{{ house.address }}</li>
                <li class="list-group-item">{{ house.city}},{{ house.state }}</li>
                <li class="list-group-item">{{ house.office}}</li>
            </ul>
        </div>
        </a>
    {% endfor %}
    </div>
{% endblock %}

{% block more-js %}
    <script>
        window.onscroll = function() {myFunction()};

        var navbar = document.getElementById("filter-form-container");
        var sticky = navbar.offsetTop;

        function myFunction() {
            if (window.pageYOffset >= sticky) {
                navbar.classList.add("sticky")
            } else {
                navbar.classList.remove("sticky");
            }
        }
    </script>
{% endblock %}